<footer>
    <br />
    <br />
    <p>
      Inventory Management System is a digital platform designed to <br />
      efficiently track, organize, and manage various goods and products <br />
      within a business or organization.  <br />
    </p>
    <br>
    <div class="social-icons">
      <a href="https://github.com/JovTim" target="_blank" class="icon-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://facebook.com/jovan.timosa.3" target="_blank" class="icon-link">
        <i class="fab fa-facebook"></i>
      </a>
      <!-- Add other social media icons similarly -->
    </div>
    <p>
      &copy; 2023 Inventory Management System. All Rights Reserved.
    </p>
</footer>